{% extends 'base.html' %} {% block content %}
<div class="container mt-2 ">
  <div class="row">
    <div class="col-12 text-center">
      {% for profile in profiles %}
      <div class="profile p-4" style="white-space:nowrap">
        <img src="{{profile.profile_pic.url}}" alt="" style="height:70px;width:70px; border-radius:50%; display:inline;">
        <p class="ml-2" style="display:inline; white-space:nowrap; font-size:25px;"><strong>{{profile.first_name}} {{profile.last_name}}</strong></p>
        <a href="/edit" style="display:inline; white-space:nowrap; color:#a6a6a6;"><i class="fa fa-pencil-square-o fa-lg ml-4"></i></a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<div class="container mt-5">
  <div class="row">
    {% for pic in images %}
    <div class="col-4 m-2">
      <img src="{{pic.image.url}}" alt="" class="img-fluid">
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
